@use './main' as *;

body {
  @include flex(center, center);
  width: 100vw;
  height: 100vh;
  background-color: #333333;
}

.container {
  width: 430px;
  height: 100vh;
  border-radius: 30px;
  background-color: $bg-app;
}

header {
  @include flex(center, start);
  width: 100%;
  height: 130px;
  background-color: $color-primary;
  border-radius: 30px 30px 0 0;

  h1 {
    padding-top: 43px;
    font-size: 28px;
    font-weight: 600;
  }
}

main {
  @include column-flex(between, start);
  flex: 1;
  height: calc(100% - 130px);
  padding: 50px 24px;

  .date-wrapper {
    @include column-flex(start, start);

    &__day {
      font-size: 20px;
      font-weight: 700;
      color: $white;
    }
    &__full-date {
      font-size: 14px;
      font-weight: 400;
      color: $text-disabled;
    }
  }

  .content-wrapper {
    @include column-flex(start, start);
    gap: 27px;
    width: 100%;
  }

  .todo-list {
    @include column-flex(start, start);
    width: 100%;
    gap: 8px;
  }

  .todo {
    @include flex(start, center);
    gap: 8px;
    width: 100%;
    height: 60px;
    padding: 0 16px 0 13px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    color: $text-primary;
    background-color: $bg-card;

    &.done {
      color: $text-disabled;
      text-decoration: line-through;
    }

    &__content {
      flex: 1;
    }
  }

  .icon-button {
    @include flex(center, center);
    background-color: transparent;
    cursor: pointer;
  }
}

.todo__form-wrapper {
  width: 100%;
  @include flex(end, center);

  .todo__form {
    @include flex(between, center);
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 12px;
    transition: width 0.3s ease, background-color 0.3s ease,
      border-radius 0.3s ease;

    .todo__input {
      display: none;
      padding-left: 12px;
      transition: width 0.3s ease, opacity 0.3s ease;
      color: $text-primary;

      &::placeholder {
        color: $text-primary;
        font-size: 16px;
      }
    }

    .todo__add-button {
      @include flex(center, center);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $color-primary;
    }

    &.open {
      width: 100%;
      border-radius: 12px;
      background-color: #8899a6;

      .todo__input {
        display: block;
        flex: 1;
        transition: width 0.3s ease, opacity 0.3s ease;
      }

      .todo__add-button {
        background-color: transparent;
      }
    }
  }
}
