*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
  resize: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333333;
}

.container {
  width: 430px;
  height: 100vh;
  border-radius: 30px;
  background-color: #151515;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 130px;
  background-color: #0ab6ab;
  border-radius: 30px 30px 0 0;
}
header h1 {
  padding-top: 43px;
  font-size: 28px;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  height: calc(100% - 130px);
  padding: 50px 24px;
}
main .date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main .date-wrapper__day {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
main .date-wrapper__full-date {
  font-size: 14px;
  font-weight: 400;
  color: #7a7777;
}
main .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
  width: 100%;
}
main .content-wrapper .empty {
  display: none;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #7a7777;
}
main .content-wrapper.is-empty .empty {
  display: block;
}
main .content-wrapper.is-empty .todo-list {
  display: none;
}
main .todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}
main .todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 60px;
  padding: 0 16px 0 13px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  color: #f5f5f5;
  background-color: #201f1f;
}
main .todo.done {
  color: #7a7777;
  text-decoration: line-through;
}
main .todo__content {
  flex: 1;
}
main .icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.todo__form-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.todo__form-wrapper .todo__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 12px;
  transition: width 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}
.todo__form-wrapper .todo__form .todo__input {
  display: none;
  padding-left: 12px;
  transition: width 0.3s ease, opacity 0.3s ease;
  color: #f5f5f5;
}
.todo__form-wrapper .todo__form .todo__input::placeholder {
  color: #f5f5f5;
  font-size: 16px;
}
.todo__form-wrapper .todo__form .todo__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0ab6ab;
}
.todo__form-wrapper .todo__form.open {
  width: 100%;
  border-radius: 12px;
  background-color: #8899a6;
}
.todo__form-wrapper .todo__form.open .todo__input {
  display: block;
  flex: 1;
  transition: width 0.3s ease, opacity 0.3s ease;
}
.todo__form-wrapper .todo__form.open .todo__add-button {
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
